* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 55px;
}
/* img {
  width: 100%;
} */
footer {
  background-color: rgba(41, 178, 78, 1);
}
body {
  background-color: rgba(242, 242, 242, 1);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
li {
  margin-right: 48px;
}
/* headerstyling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
  margin-top: 42px;
}
.headerbutton {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(41, 178, 78, 1);
  height: 42px;
  border-radius: 12px;
}

/* mainstyling */
.gridinputs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
}
.sectionlocation {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 1);
  margin: 0;
  padding: 38px 32px;
  border-radius: 24px;
}
select {
  border: 1px solid rgba(13, 156, 164, 0.21);
  border-radius: 10px;
  height: 48px;
}

.item {
  display: flex;
  align-content: center;
  padding-bottom: 10px;
}
input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 17px;
  border: 1px solid rgba(41, 178, 78, 1);
  border-radius: 4px;
  margin-right: 13px;
}

input[type="checkbox"]:checked {
  background-color: rgba(41, 178, 78, 1);
  border-color: rgba(41, 178, 78, 1);
}

/* Use a pseudo-element for a custom tick mark */
input[type="checkbox"]:checked::after {
  content: "✓";
  color: rgba(248, 248, 248, 1);
  display: flex;
  justify-content: center;
}
h1 {
  padding-bottom: 16px;
}
h2 {
  padding-top: 32px;
  padding-bottom: 13px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bgimage {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("/assets/img/backgimage.png");
  object-fit: fill;
  /* object-position: center; */
}
h3 {
  margin-top: 60px;
}
.bgimage p {
  margin-top: 10px;
  margin-bottom: 40px;
}
.bgimage form {
  width: 324px;
}
.bgimage form input {
  height: 48px;
  border-radius: 10px;
}

/* 
*/
/* prelative/absolute */
.boximage button img {
  width: 11px;
  height: 11px;
}
.boxlable {
  position: absolute;
  bottom: -11px;
  left: 315px;
  background-color: aliceblue;
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  z-index: 1000;
  border-radius: 50%;
}
.boximage {
  position: relative;
  z-index: 999;
}
.VIPtop {
  position: absolute;
  width: 76px;
  top: 10px;
  left: 10px;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: rgba(41, 178, 78, 1);
  border-radius: 15px;
  text-align: right;
  z-index: 1000;
}
