@font-face {
  font-family: "archvio";
  src: url(../font/Archivo-Italic-VariableFont_wdth\,wght.ttf);
  src: url(../font/Archivo-VariableFont_wdth\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0px;
}
img {
  width: 100%;
}
footer {
  background-color: rgba(41, 178, 78, 1);
}
body {
  background-color: rgba(242, 242, 242, 1);
}
header a {
  color: rgba(0, 0, 0, 0.9);
}
header a:hover {
  color: rgba(41, 178, 78, 1);
  text-decoration: underline;
  transition: 1s;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 1s;
}
a {
  text-decoration: none;
  font-family: archvio;
  color: rgba(255, 255, 255, 1);
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
}
p {
  font-family: archvio;
}

/* li {
  margin-right: 48px;
} */
/* headerstyling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
  padding-bottom: 42px;
}
.headerbutton {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(41, 178, 78, 1);
  height: 42px;
  border-radius: 12px;
  font-family: archvio;
}
button {
  font-family: archvio;
}
.buttonsearch {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* mainstyling */
.gridinputs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
}
.sectionlocation {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  background-color: rgba(248, 248, 248, 1);
  margin: 0;
  padding: 38px 32px;
  border-radius: 24px;
}
select {
  border: 1px solid rgba(13, 156, 164, 0.21);
  border-radius: 10px;
  height: 48px;
}

.item {
  display: flex;
  align-content: center;
  padding-bottom: 10px;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 17px;
  border: 1px solid rgba(41, 178, 78, 1);
  border-radius: 4px;
  margin-right: 13px;
}

input[type="checkbox"]:checked {
  background-color: rgba(41, 178, 78, 1);
  border-color: rgba(41, 178, 78, 1);
}

/* Use a pseudo-element for a custom tick mark */
input[type="checkbox"]:checked::after {
  content: "✓";
  color: rgba(248, 248, 248, 1);
  display: flex;
  justify-content: center;
}
h1 {
  padding-bottom: 16px;
  font-family: archvio;
  font-weight: 600;
}
h2 {
  padding-top: 32px;
  padding-bottom: 13px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bgimage {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: cover;
  border-radius: 24px;

  /* object-position: center; */
}
h3 {
  margin-top: 60px;
  font-family: archvio;
  font-weight: 500;
  line-height: 100%;
}
.bgimage p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: archvio;
  font-weight: 400;
  opacity: 60%;
}
.bgimage form {
  max-width: 324px;
}
.bgimage form input {
  height: 48px;
  border-radius: 10px;
  width: 324px;
}

/* 
*/
/* prelative/absolute */
h4 {
  padding-top: 32px;
  padding-bottom: 36px;
  font-family: archvio;
  font-weight: 500;
}
.boxcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, auto); */
  gap: 20px;
  padding-bottom: 120px;
}
/* .h4flex {
  display: flex;
  justify-content: flex-start;
} */
/* .card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.card:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.card:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.card:nth-child(4) {
  grid-column: 4 / -1;
  grid-row: 1/ 2;
}
.card:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.card:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.card:nth-child(7) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.card:nth-child(8) {
  grid-column: 4 / -1;
  grid-row: 2 / 3;
} */
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 395px;
  height: 424px;
  justify-content: space-evenly;
  /* margin-top: 10px; */
  /* border: 1px solid; */
  border-radius: 24px;
  background-color: rgba(248, 248, 248, 1);
}

.cardprice {
  text-align: right;
  font-weight: 500;
  font-size: 24px;
  color: rgba(41, 178, 78, 1);
}
.cardprice span {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 12px;
}
.contactinfoprice {
  text-align: right;
  font-weight: 800;
  font-size: 52px;
  color: rgba(41, 178, 78, 1);
}
.contactinfo span {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 20px;
}
.boxcard {
  background-color: rgba(248, 248, 248, 1);
}
.cardspan {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(207, 234, 214, 1);
  padding-top: 24px;
}
.cardstrong {
  padding-top: 8px;
}
.ccardlow {
  padding-top: 18px;
  opacity: 60%;
}

.boximage button img {
  width: 18px;
  height: 18px;
}
.boxlable {
  position: absolute;
  bottom: -11px;
  right: 15px;
  background-color: aliceblue;
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  z-index: 1000;
  border-radius: 50%;
}
.boximage {
  position: relative;
  z-index: 999;
  align-self: center;
}
.VIPtop {
  position: absolute;
  width: 76px;
  top: 10px;
  left: 10px;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: rgba(41, 178, 78, 1);
  border-radius: 15px;
  text-align: right;
  z-index: 1000;
}

/* footer S T Y L E */
footer {
  background-color: rgba(41, 178, 78, 1);
  height: 180px;
}
.footerroof {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 32px 0 32px;
}
.footerground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;
  border-top: 1px solid rgba(208, 208, 208, 1);
}

/*   CARD.HTML STYLE   */

.cardinfo img {
  max-width: 810px;
  height: 732px;
}
.lowerp {
  opacity: 60%;
}
.gridsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(0, auto);
  column-gap: 44px;
}
.gridsection:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.gridsection :nth-child(2) {
  grid-column: 2 / -1;
  grid-template-rows: 3 / -1;
}
.cardinfo {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(0, auto); */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.cardviptop {
  width: 76px;
  top: 10px;
  left: 10px;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: rgba(41, 178, 78, 1);
  border-radius: 15px;
  text-align: right;
  margin-bottom: 29px;
}
.appartmentinfo {
  display: flex;
  flex-direction: column;
}
.apinfoh1 {
  margin-bottom: 12px;
}
.apinfop {
  margin-top: 32px;
  margin-bottom: 57px;
  font-family: archvio;
}
.rooms {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 41px;
}
.appartmentdetails {
  display: flex;
  flex-direction: row;
  gap: 132px;
}
.propaddress {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.facilities {
  display: flex;
  flex-direction: column;
  width: 133px;
  gap: 5px;
}
.nextgeninfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contactinfo {
  display: flex;
  justify-content: end;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.cardbutton {
  width: 153px;
  height: 47px;
  border: 1px solid rgba(41, 178, 78, 1);
  color: rgba(41, 178, 78, 1);
  border-radius: 12px;
}
.cardcall {
  width: 80px;
  height: 47px;
  border-radius: 12px;
  border: 1px solid rgba(41, 178, 78, 1) s;
  background-color: rgba(41, 178, 78, 1);
  color: rgba(255, 255, 255, 1);
}
.mediafooter {
  display: none;
}
/* TEST MEDIA */
@media (375px >= width), (750px >= width) {
  header {
    margin: 0;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
  }
  header nav,
  .headerbutton,
  .buttonsearch {
    display: none;
  }
  .buttonsearch {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .sectionlocation {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-color: rgba(248, 248, 248, 1);
    margin: 0;
    padding: 38px 32px;
    border-radius: 24px;
  }
  .sectionlocation {
    display: flex;

    flex-wrap: wrap;
  }
  .searchapartments {
    display: none;
  }
  .bgimage {
    margin: 0;
    padding: 0 25px;
    height: 435px;
    width: 335;
  }
  h4 {
    margin-left: 20px;
  }
  .boxcards {
    margin: 0 auto;
    padding: 0;
    max-width: 324px;
    margin-bottom: 50px;
  }
  .boximage {
    max-width: 303px;
    height: 202px;
  }

  .gridinputs {
    margin: 0;
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
  }
  footer {
    margin: 0 auto;
    padding: 0 25px;
    width: 375px;
    height: 376px;
    background-color: rgba(41, 178, 78, 1);
    border-radius: 24px;
    /* padding-bottom: 600px; */
  }

  .footermail {
    display: none;
  }
  .footerroof {
    justify-content: space-around;
    column-gap: 100px;
    row-gap: 10px;
  }
  .footertopul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .footerbotul {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .mediafooter {
    position: fixed;
    z-index: 1000;

    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 600px; */
    gap: 16px;
    height: 90px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
  }
  .mediafooter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
  }
  .mediafooter img {
    margin-top: 7px;
    width: 24px;
    height: 24px;
  }
  .pluse {
    position: relative;
    z-index: 1000;
    top: -15px;
    background-color: rgba(41, 178, 78, 1);
  }
  .plusefix img {
    width: 55px;
    height: 55px;
    border-radius: 12px;
  }
  .footerground {
    margin-bottom: 300px;
  }
  .divider {
    padding-top: 1px;
  }

  /* STYLE CARD.HTML */
  .headerlogo {
    display: none;
  }

  .gridsection {
    display: flex;
    flex-direction: column;
  }
  .cardimg {
    margin: 0 auto;
    padding: 0, 0;
    width: 335px;
    height: 316px;
  }
  .rooms {
    column-gap: 7px;
  }
  .cardinfo {
    margin: 0 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    gap: 0px;
    width: 375px;
    /* height: 1060px; */
    background-color: rgba(194, 194, 194, 0.3);
    border-radius: 12px;
  }
  /* .appartmentinfo {
    margin: 0 auto;
    padding: 0, 15px;
  } */
  .appartmentdetails {
    display: flex;
    flex-direction: column;
  }
  .propaddress div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .facilities {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: flex-start;
  }
  .nextgeninfo div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contactinfo {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
  }
  .contactinfo .contactinfoprice {
    display: inline-block;
  }
  .contactinfoprice span {
    display: inline-block;
  }
  .contactinfo p {
    display: flex;
    align-self: flex-start;
    margin-top: 33px;
    margin-bottom: 40px;
  }
  .contactinfo .buttonspan {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .contactinfoprice {
    margin-left: 0px;
  }

  .cardcall {
    width: 334px;
    height: 47px;
  }
  .cardbutton {
    width: 334px;
    height: 47px;
  }
  #cardnone {
    display: none;
  }
  /* .buttonspan {
    width: 200px;
    height: 200px;
  } */
  main {
    width: 375px;
    margin: 0;
    padding: 0, auto;
  }
  /* .cardcall {
  width: 80px;
  height: 47px;
  border-radius: 12px;
  border: 1px solid rgba(41, 178, 78, 1) s;
  background-color: rgba(41, 178, 78, 1);
  color: rgba(255, 255, 255, 1); */
}
